@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap');

.App {
  text-align: center;
  font-family: 'Oxanium', sans-serif;
}

.Header {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 5rem;
}

.Name {
  font-weight: 400;
  font-size: 2rem;
}

.Control {
  border-bottom: solid lightgray 1px;
  padding-bottom: 10px;
}

.ControlButtons {
  margin: 5px;
}

.ModalButtons {
  margin-left: 5px;
  margin-right: 5px;
}

.Card {
    display: flex;
    justify-content: center; 
    text-align: center; 
    margin-top: 2rem;
    width: "40rem";
}

@media screen and (max-width: 767px) {

  .Card {
      width: "10rem";
      margin: 4px;
  }
}

.Register .Logo h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: bold;
  font-size: 8rem;
  letter-spacing: 1px;

}

.Register .Logo p {
  font-family: 'Oxanium', sans-serif;
  font-weight: 400;
  font-size: 30px;
}

.Register .Card {
  display: flex;
  justify-content: center; 
  text-align: center; 
  margin-top: 5rem
}

.Register {
  font-family: 'Oxanium', sans-serif;
}


.Register #buttonDiv {
  width: 100%; 
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
}

.Register .Card .Changer {
  margin-top: 15px
}

.Register .Card h2 {
  padding: 1.5rem 0; 
  border-bottom: solid lightgray 1px;
}

@media screen and (max-width: 767px) {
  .Register .Logo h1 {
      font-size: 4rem;
      letter-spacing: -2px;
  }

  .Register .Logo p {
      font-size: 18px;
  }

  .Register div .card {
      width: "10rem";
      margin: 4px;
  }
}

.Settings p {
  margin: 0;
}

.Settings h3 {
  margin: 20px 0;
}

.Name h3 {
  margin: auto;
  cursor: pointer;
  font-size: 35px;
  padding: 10px 0;
}

