@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.App {
  text-align: center;
}

.Header {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 5rem;
  border-bottom: solid black 3px;
}

.Name {
  font-weight: 400;
  font-size: 3rem;
  border-bottom: solid black 1px;
  padding-bottom: 10px;
}

.Control {
  border-bottom: solid black 1px;
  padding-bottom: 10px;
}

.ControlButtons {
  margin: 5px;
}

.ModalButtons {
  margin-left: 5px;
  margin-right: 5px;
}



